div[class^="msg-"], span[class^="msg-"] {
    font: 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.msg-container {
    animation: Message-crawl 5s linear 0s normal 1 none running;

    display: block;
    position: fixed;
    box-sizing: border-box;

    border: 1px solid green;
    padding: 0 10px 10px;

    max-width: 600px;
    
    font-weight: 700;

    word-wrap: break-word;
}

.msg-user {
    border: 1px dashed purple;
    padding: 4px 2px;

    margin-left: 0.1em;

    display: inline-block;
    vertical-align: top;
}

.msg-content {
    border: 1px dotted orangered;
    padding: 4px 2px;
}

.hidden {
    display: none;
}

@keyframes Message-crawl {
    from { left: 100%; }
    to { left: -100%; }
}