/* The root elements */
body {
  /* We'll need transparency later
  background-color: rgba(0,0,0,0);
  */
  background-color: #333;
}
html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

/* The overall app container */
*[class^="app-"] {
  box-sizing: border-box;

  margin: 0;
  height: 100%;

  overflow: hidden;
}

.app-container {
  display: relative;
}

.app-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.form-group {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 20;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  align-items: center;
  width: 350px;
  flex-direction: column;
}

#btn-test {
  display: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* The fly-in classes */
*[class^="fly-"] {
  position: absolute;
}

.fly-enter {
  /* This is the initial frame of the spawning animation
  */
  left: 100%;
}
.fly-enter-active {
  /* This is the class we assign when we are spawning the new message
  */
  left: -50%;
  transition: left 10s linear;
}
.fly-exit {
  /* This is the initial frame of the exit animation
  */
  opacity: 1;
}
.fly-exit-active {
  /* This is the class we assign when we are about to delete the message
  */
  opacity: 0;
  transition: opacity 2s linear;
}

/* The message block */
*[class^="msg-"] {
  position: relative;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  background: #56127c !important;
  border-color: #56127c !important;
  font-weight: 700;
  font-size: 1.5em;
  padding: 4px 2px;
  text-shadow: 0.1em 0.1em 0 #333333;
  border-radius: 0 0 0.16rem 0.16rem;
}

/* Remove button blue outline when clicked */
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Change color of button when clicked */
.btn:active {
  background: #3b0e55 !important;
  border-color: #3b0e55 !important;
}

.msg-container {
  font: 1.7em "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  z-index: 20;
  position: absolute;
  /* There is a strangerendering issue where
    the shadow becomes detached from the element
  text-shadow: 0 1.5em 0 #333333;
  */
}

.msg-user {
}

.msg-content {
  color: #fafafa;
  word-wrap: normal;
}

.emote {
  height: 32px;
}

.channelNameInput {
  border-radius: 0.16rem 0.16rem 0 0;
}

.controlsInvisible {
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}
